<div class="center jumbotron">
    <h1>ShimaBookshelf</h1>
    <p>This is a management page of my own books.</p>
    <%= link_to "マンガ登録", regist_path, class: "btn btn-lg btn-primary" %>
    <%= link_to "出版社登録", new_publisher_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails logo"), 'http://rubyonrails.org/' %>


