<% provide(:title, @publisher.name) %>

<div class="row">
    <aside class="col-md-4">
        <section class="book_info">
            <h1>出版社</h1>
            <h2><%= @publisher.name %></h2>
        </section>
    </aside>
</div>


