<% provide(:title, @book.title) %>

<div class="row">
    <aside class="col-md-4">
        <section class="book_info">
            <h1>
                <%= @book.title %>
                <%= @book.author %>
            </h1>
        </section>
    </aside>
</div>


